body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #e5ddd5;
}

/* FULL WIDTH */
.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efeae2;
}

/* HEADER */
.chat-header {
  padding: 15px;
  background-color: #075e54;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  flex-shrink: 0;
}

/* MESSAGE AREA */
.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* MESSAGE BASE */
.chat-message {
  max-width: 75%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  clear: both;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
}

/* YOUR MESSAGE (RIGHT) */
.chat-message.you {
  background-color: #dcf8c6;
  color: #000;              /* dark readable text */
  float: right;
  border-bottom-right-radius: 3px;
}

/* OTHER MESSAGE (LEFT) */
.chat-message.other {
  background-color: #ffffff;
  color: #000;              /* dark readable text */
  float: left;
  border-bottom-left-radius: 3px;
}

/* SYSTEM */
.chat-message.system {
  background-color: #d9d9d9;
  color: #333;
  margin: 10px auto;
  text-align: center;
  display: block;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 15px;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.join-screen{
  display:flex;
  height:100vh;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap:10px;
}

.msg-username{
  font-size:12px;
  font-weight:bold;
  margin-bottom:3px;
  color:#075e54;
}

.msg-time{
  font-size:10px;
  text-align:right;
  opacity:.6;
}


/* MOBILE */
@media (max-width: 768px) {
  .chat-message {
    max-width: 85%;
  }
}
